* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: #FFFAF5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sora', sans-serif;
}

input, textarea, select, button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, .7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn--primary {
    color: #FFF;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link, .header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover, .header-action__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 121px;
}


.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    background-color: #fe997b;
    border-radius: 16px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    left: -58px;
    bottom: 10px;
}

.hero__decor--right {
    top: 16px;
    right: -40px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border: 2px solid #f7ddd7;
    margin: 0 0 -58px -24px;
    background: #FAA7AD;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero__list--item-thumb {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #FEC23F;
}

.hero__list--item {
    display: flex;
    align-items: center;
    
}

.hero_.hero__list--item-title {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.hero__list--item-skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero__list--item-skeleton-small {
    margin-top: 6px;
    width: 39px;
}

.hero__list--item-line {
    width: 222px;
    height: 2px;
    background-color: #F2F2F2;
}

.hero__list--item:nth-child(3) .hero__list--item-thumb {
    background: #C6E2FA;
}

.hero__heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.1;
    color: #000958;
}

.hero__description {
    width: 391px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6;
    line-height: 30px;
    color: #656689;
}

.hero-row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    height: var(--height);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta--link {
    margin-left: 24px;  
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration: underline;
    color: #000958;
}